{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static '/css/general.css' %}">
</head>

<body>
<div class="main">
    <div class="formWrapper">
        <h3>ROBOT</h3>
        <form action="{% url "submit_robot_form" %}" method="POST" method="post">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit">Submit</button>
        </form>
        <hr/>
        <h3>DINOSAUR</h3>
        <form action="{% url "submit_dinosaur_form" %}" method="POST" method="post">
            {% csrf_token %}
            {{ form2.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="board">
        {% for row in data %}
            <div class="row-1">
                {% for cell in row %}
                    <div class="cellStyle">
                        {% if cell == "D" %}
                            <img src="{% static '/img/dinosuar.png' %}" alt="D" class="dinosuar"/>
                        {% elif cell == "DD" %}
                            <img src="{% static '/img/dead%20dinosuar.jpeg' %}" alt="D" class="dinosuar"/>
                        {% elif cell == "R" %}
                            <img src="{% static '/img/robot.png' %}" alt="D" class="dinosuar"/>
                        {% endif %} </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
</body>

